.about-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 25px;
    padding: 5px;

}
.about-text{
    margin: 25px;
    padding: 5px;
}

@media screen and (max-width: 667px) {
    .about-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (min-width: 668px) {
    .about-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 900px) {
    .about-container{
        grid-template-columns: repeat(3, 1fr);
    }
}